header{
    padding: 20px 0;
    border-bottom: 1px solid $greycolor;
    overflow: hidden;
    .logo{
        width: 30%;
        float: $float-left;
        @media #{$minsmall}{
          width: 100%;
          float: none;
          text-align: center;
        }
        @media #{$minmedium}{
          width: 30%;
          float: $float-left;
          text-align: $text-left;
        }
        @media #{$maxmobile}{
          width: 60%;
        }
      h1{
        margin-bottom: 0;
        margin-top: 10px;
      }
    }
    .navbar{
       
        background-color: $redcolor;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        @media #{$minsmall} {
            width: 100%;
            float: none;
            margin-top: 30px;
            display: block !important;
          }
          @media #{$minmedium} {
            width: 70%;
              float: $float-left;
              margin-top: 1em;
          }
                     @media #{$maxmobile} {
                       display: none;
                       border-radius: 0;
                       width: 100%;
                     }
     li{
        width: 20%;
        float: $float-left;
        font-size: 18px;
        text-align: center;
        @media #{$maxmobile} {
            display: block;
            float: none;
            width: 100%;
          }
       a{
        display: block;
        padding: 20px 10px;
        color: #FFF;
        text-decoration: none;
        &:hover {
            color: #DDD;
        }
       }
     }
    }
}